html{
    background-color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-collapse{
    flex-grow: 0;
    justify-items:flex-end;
}



/* About Section Begins*/

.info
{
    padding: 20px;
    margin: 20px;
    text-align: left;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  float: right;
}

.image
{   
    height: fit-content;
    width: 40%;  
    float: center;
}

.im{
    margin: 20px;
   border-radius: 50% 50% 50% 50%;
   
   border: 4px solid #2272FF;

}



/* About Section Ends*/



svg{
    border: 1px solid greenyellow;
    padding: 0px;
}



.navbar-brand{

    color:#2272FF;
    font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  vertical-align: middle;
  display: flex;
  align-items: center;
  
  
  
}
span .name
{
    padding-top: 50px;
}

.navbar-brand:hover
{
    font-size: 1.3rem;
    transition: 250ms;
}

.nav-link:hover
{
    color: #2272FF;
    text-decoration:wavy;
    transition-property: all;
    transition: ease-in;
    transition: 250ms;
}

.nav-link{
    color: black;
    font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Contact Section Begins*/
.boxes
{
    width: 500px;
    padding: 20px;
}
.Contact
{
    display: flex;
    margin: auto;
    justify-content: center;
    max-width: max-content;
}
/* Contact Section Ends*/

/* Footer Section Begins*/
footer{
    text-align: center;
    padding: 10px;
}

.hero {
    display: flex;
    align-items: center;
  }

  /* Footer Section Ends*/






  


  

  