html{
    background-color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background-color: rgb(0, 0, 0);
  
}

.heading
{
  
  color: #0dcaf0;
  font-weight: bold;
}

.navbar-collapse{
    flex-grow: 0;
    justify-items:flex-end;
}
.nam{
  color: #0dcaf0;
}


/* About Section Begins*/

.hero{
  
  max-width: 100vw;
  display: flex;
  align-content: center;
  justify-content: space-around;
  
  
}



.info
{
  text-align: center;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  width: 50%;
  max-width: vw;
}

#yel{
  color: #915907;
  background-color: #fce3bc;
  border-radius: 50px;
}

.info-2
{
  text-align: center;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-style: normal;
  width: 100%;
  max-width: vw;
  padding:15px;
}

.sp{
  margin-left: 6px;
  margin-right: 5px;
}

.quote{
  font-style: italic;
  font-size: 1rem;
  font-weight: 200;
}

.image
{   
  height: fit-content;
  
  float: right;
  position: relative;
  max-width: 100vw;
  align-items: center;
}
.im{
  border-radius: 50% 50% 50% 50%;
  border: 4px solid #0dcaf0;
  box-shadow: 0 0 10px 0 #0dcaf0;
  width: 400px;
  height: 400px;
  object-fit: cover;

}

.aboutmain{
  display: flex;
  flex-direction: row;
  padding: 20px;
 }

 .aboutmain img{
  border: 1px solid #0dcaf0;
  height: 200px;
  width: 200px;
  border-radius: 10% 10% 10% 10%;
  
 }

 #im-about{
  width: 30%;
 }
 #text-about{
  width: 70%;
  padding: 10px;
  text-align: left;
 }

 .grid-about{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  
 }
 ul{
  list-style-type: none;
 }
 .aboutmain  li{
  padding: 25px;
  color: white;
  text-align: center;
  font-size:xxx-large;
  color: #0dcaf0;
 }

 span{
  font-size: 1rem;
  color: #ffffff;
  
 }

@media (min-width: 900px) {
  .hero {
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 100px;
    padding-top: 175px;
    padding-bottom: 175px;
    background-image: url(Images/Hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    visibility:visible;
    
    
  }

  #herop
  {
    background-image: url(Images/Hero.jpg);
  }

  
  .projects > .hero
  {
    flex-direction: row;
    align-items: center;
    margin: auto;
    
   
  }
  
  .info {
    width: 50%;
    margin-top: 20px;
  }
  
  .image {
    
    float: none;
  }

  .im-new{
    border-radius: 5% 5% 5% 5%;
    border: 4px solid #0dcaf0;
    box-shadow: 0 0 10px 0 #0dcaf0;
    width: 400px;
    height: 400px;
  }

  .type1{
    width: 100%;
    padding: 10px;
  }

  .skills{
    flex-direction: row;
    display: flex;
    
  }

  .boxes
  {
    width: 50%;
    padding: 20px;
    color: white;
  }

  .Contact
  {
    flex-direction: row;
    
  }

  .cont{
    width: 50%;
    padding: 20px;
    padding-top: 2px;
    padding-left: 100px;
    color: white;
    

}

.boxes
{
    width: 75%;
    padding: 20px;
    color: white;
}



}



@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    width: 100%;
    margin:auto;
    padding: 25px;
    background-image: url(Images/Hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    
  }

  
  
  .info {
    width: 100%;
    padding-top: 50px;

  }
  
  .image {
    
    align-items: baseline;
  }

  .im{
    width: 200px;
    height: 200px;
  }

  .im-new{
    width: 200px;
    height: 200px;
  }
  
  .Contact
  {
    flex-direction: column;
  }

  .boxes
  {
    width: 100%;
  
  }

  .cont{
    width: 100%;
    padding: 15px;
    padding-top: 35px;
    color: white;
   
    text-align: left;
}
.aboutmain{
  display: flex;
  flex-direction: column;
  padding: 20px;
 }

 #im-about{
  width: 100%;
 }
 #text-about{
  width: 100%;
  padding: 10px;
  text-align: left;
 }

 .grid-about{
  display: flex;
  flex-direction: column;
 
  padding: 20px;
}

.boxes
{
    width: 100%;
    padding: 20px;
    color: white;
}
}



.im:hover
{
  box-shadow: 0 0 20px 0 #0dcaf0;
  transition: all 50ms ease-in-out;
}

.fa-brands{
  color: #0dcaf0;
  border: 1px solid #0dcaf0;
  padding: 10px;
  margin: 5px;
  border-radius: 50% 50% 50% 50%;
}

.fa-brands:hover
{
  color: #ffffff;
  background-color: #0dcaf0;
  transition: all 550ms ease-in-out;
  box-shadow: 0 0 10px 0 #0dcaf0;
}

/* About Section Ends*/



svg{
    border: 1px solid greenyellow;
    padding: 0px;
}

.navbar{
  background-color: black;
}


.navbar-brand{

    color:#ffffff;
    font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  vertical-align: middle;
  display: flex;
  align-items: center;
  
  
  
  
}
span .name
{
    padding-top: 50px;
}





.nav-link:hover
{
    color: #0dcaf0;
    text-decoration:wavy;
    border-bottom: 2px solid #0dcaf0;
    transition-property: all;
    transition: all 550ms ease-in-out;
}

.nav-link{
    color: rgb(255, 255, 255);
    font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  border-bottom: 2px solid #000000;
}

/* Contact Section Begins*/

.Contact
{
    display: flex;
    margin: auto;
    justify-content: center;
    max-width: 100%;
}


#cont{
    text-decoration: none;
    padding: 20px;
    color: white;
    border: 0px;
}
#cont:hover{
    background-color: #0dcaf000;
    transition: none;
    box-shadow: 0 0 10px 0 #ffffff00;
    border-radius: 10px;
    padding: 20px;
    color: #0dcaf0;

    
    text-decoration: none;
}
/* Contact Section Ends*/

/* Footer Section Begins*/
footer{
    text-align: center;
    padding: 10px;
    color: white;
}

.hero {
    display: flex;
    align-items: center;
    
    
  }

  /* Footer Section Ends*/





h4,h1{
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  text-align: center;
}
.card{
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #3ea07e;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #0dcaf0;
  margin: 20px;
}

.card:hover
{
  box-shadow: 0 0 20px 0 #0dcaf0;
  transition: all 50ms ease-in-out;
}

.card-link{
  text-decoration: none;
}

 /* Skills Section Begins*/
 .skills{
  padding:20px;
 }

 .desc{
margin-bottom: -4px;
padding:10px;
color: white;
 }


 .type1{
 
  border-radius: 20px;
  padding: 10px;
 }

 .title{
  text-align: center;
  font-weight: bold;
  color: white;
 }

 .spec{
  font-weight: bold;
 }

 section{
  padding: 10px;
 }

 